.contact-container {
  padding: 20px 100px;
  background: rgb(28, 27, 27);
}

.contact-container h1 {
  padding-bottom: 30px;
}

.contact-info {
  color: white;
  display: flex;
  padding-left: 20px;
}

.contact-info > p {
  padding-left: 20px;
}

.contact-info > span {
  line-height: 50%;
}

.contact-info i {
  font-size: 25px;
}
